@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    color: rgb(104, 102, 102);
    font-size: 14px;
}
.container{
    display: flex;
    margin-bottom: 70px;
 }

/*-----------------
 front cover page styles
 -------------- */

.cover-page{
    display: flex;
    background-color: #2D25A0;
    margin-bottom: 70px;
 }
.cover-description{ 
    float:left;
    width: 40%;
    height: auto;
    padding: 5%; 
}
h1{ 
    margin-left: 10%; 
    color: #ffffff;
    width: 500px;
    font-size: 64px;
    font-weight: bold;
 }
.acnhorbutton{
    margin-left: 10%;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 24px;
    transition: all 2s ease-out;
 }
 .acnhorbutton:hover, .acnhorbutton:focus{
    background-color: #3DBAFD;
    background-image: linear-gradient(45deg, #3DBAFD
    , #E02C6D);
    font-size: 26px;
 }
 
span {
   content: "\1F86A";
   color: white;
   margin: 0px 8px;
}
.banner{
    width: 556px;
    height: 438px;
    left: 50px;
    top: 200px;
    transition: transform 5s ease-in;
    transition-delay: 1s;
 }
 .banner:hover{
    transform: rotate(180deg);
 }

 /*--------------------------
 player description styles
 ------------------------- */

 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin-left: 150px;
    width: 1044px;

}
.player{
    width: 300px;
    height: 474px;
    float: left;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.300);;
    
}
.player-info{
    color: white;
    width: 300px;
    height: 426px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.player img{
    width: 300px;
    height: 256px;
}
.description{
    color: black;
}
/*-----------------------------
Highlight section styles
------------------------------- */
.highlights{ 
    float:left;
    width: 40%;
    height: auto;
    padding: 5%; 
}
.about p{
    width: 470px;
    margin-left: 10%;
    margin-bottom: 50px;
}
.about h1{
    font-size: 48px;
    width: 470px;
    color: black;
}
.highlights.banner{
    width: 567px;
    height: 427px;
} 

/* ----------------------------------
extra styles-
---------------------------- */
.login-container{
    background-color: #2D25A0;
    justify-content: center;
    padding: 50px;
}
.login{
    display: flex;
    flex-direction: row;
}
.login-form input, button{
    background-color: #3DBAFD;
    font-size: 1.5em;
    margin-top: 15px;
    border: 2px solid#3DBAFD;
    border-radius: 3px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(45deg, #3dc7fd, #0c8ed4,);
}
.login-form button{
    color: white;
    background-color:#E02C6D;
    border: 2px solid #E02C6D;
    font-weight: 700;
    background-image: linear-gradient(45deg,rgb(202, 5, 97), #E02C6D);
}
/*---------------------------------
footer start
-----------------------------------*/
footer{
    text-align: center;
    bottom: 0;
}
.footer-align{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
}
.logo{
    width: 483.87px;
    height: 110px;
}
.social-links{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 170px;
    height: 32px;
}
.social-links img{
    width: 32px;
    height: 32px;
    padding-left: 14px;
}

/*----------------------------
 Mobile devices media query
 ----------------------- */
@media only screen and (max-width:668px)
{
    .cover-page, .container{
        width: 100%;
        flex-direction: column;
    }
    .cover-description, .players, .highlights, .login-container{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .player{
        flex-direction: column;
    }
    
    
}